#details {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #details td, #details th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  #details tr:hover {background-color: #ddd;}
  
  #details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }